{% extends "base.html" %}
{# タグのload #}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags blog_tags meta %}

{% block extra_ogp %}

{% spaceless %}
{% autoescape off %}
    {% og_prop 'title' blog_post.title %}
    {% og_prop 'url' blog_post.get_absolute_url %}
    {% og_prop 'description' blog_post.description %}
    {% og_prop 'type' "article" %}
    {% if settings.SITE_TITLE %}{% og_prop 'site_name' settings.SITE_TITLE %}{% endif %}
    {% if settings.CLEAN_BLOG_FACEBOOK_APP_ID %}{% facebook_prop 'app_id' settings.CLEAN_BLOG_FACEBOOK_APP_ID %}{% endif %}
    {% twitter_prop 'card' "summary" %}
{% endautoescape %}
{% endspaceless %}
{% endblock %}

{# ヘッダータイトル #}
{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{# キーワード指定 #}
{% block meta_keywords %}
	{% metablock %}
		{% keywords_for blog_post as tags %}
		{% for tag in tags %}
			{% if not forloop.first %},{% endif %}{{ tag }}
		{% endfor %}
	{% endmetablock %}
{% endblock %}

{# descripstion #}
{% block meta_description %}
	{% metablock %}
		{{ blog_post.description }}
	{% endmetablock %}
{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{# base.html のheading-textの処理を上書き #}
{% block heading-text %}
	{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block subheading-text %}
	{% editable blog_post.publish_date %}
	<div class="entry-meta-subheading">
        <span class="author">{% with blog_post.user as author %}
		<a href="{% url "blog_post_list_author" author %}" data-ga-event-category="author" data-ga-event-action="click" data-ga-event-label="{{author.get_full_name}}">{{ author.get_full_name|default:author.username }}</a>
		{% endwith %}
		</span>
		{% with blog_post.categories.all as categories %}
		    {% if categories %}
	        <span class="divider">/</span>
	        <span>
				{% trans "in" %}
				{% for category in categories %}
				<a href="{% url "blog_post_list_category" category.slug %}" data-ga-event-category="category" data-ga-event-action="click" data-ga-event-label="{{ category }}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</span>
	        {% endif %}
        {% endwith %}
        <span class="divider">/</span>
        <span> {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
        <span class="divider">/</span>
        <span class="comment">
        {% if blog_post.allow_comments %}
			
			{% if settings.COMMENTS_DISQUS_SHORTNAME %}
			<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
				data-disqus-identifier="{% disqus_id_for blog_post %}" data-ga-event-action="click" data-ga-event-category="discus_comment" data-ga-event-label="{{ blog_post.get_absolute_url }}">
				{% trans "Comments" %}
			</a>
			{% else %}
			<a href="{{ blog_post.get_absolute_url }}#comments" data-ga-event-action="click" data-ga-event-category="comment" data-ga-event-label="{{ blog_post.get_absolute_url }}">
				{% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
			</a>
			{% endif %}
		{% endif %}										
        </span>
	</div>
    {% endeditable %}
    {% include "blog/includes/share_button.html" %} 
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
	<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{# ----------------------------------------------------------------------------------#}
{# MAINBLOCK START#}
{# ------#}
{% block main %}
<section id="blog" class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="blog">
				{# Google Adsense #}
                {% include "blog/includes/google_adsense_blog_bottom.html" %}
                
                <div class="blog-item">
				 {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
					{% block blog_post_list_post_featured_image %}
					<a href="{{ blog_post.get_absolute_url }}" data-ga-event-category="blog_post" data-ga-event-action="click" data-ga-event-label="{{ blog_post.get_absolute_url }}">
						<img width="100%" class="img-responsive img-blog" src="{{ MEDIA_URL }}{{blog_post.featured_image }}">
					</a>
					{% endblock %}
				 {% endif %}
					<div class="blog-content">
                        {# dataLayerの設定 #}
                        {% if settings.GOOGLE_TAG_MANAGER_ID and not request.user.is_staff %}
                            {% block blog_post_json_ld %}
                            <script>
                        	{% autoescape off %}
                        		window.dataLayer = window.dataLayer || [];
                        		dataLayer.push([{
                        			'blogPostUserName':'{{ blog_post.user.username|escapejs }}',
                        			'blogPostDescription':'{{ blog_post.description|escapejs }}',
                        			'blogPostCreated':'{{ blog_post.created|escapejs }}',
                        			'blogPostUpdated':'{{ blog_post.updated|escapejs }}',
                        			'blogPostCategories':'{% for category in categories %}{{ category|escapejs }}{% if not forloop.last %};{% endif %}{% endfor %}'
                        		}]);
                        	{% endautoescape %}	       
                            </script>
                           {% endblock %}
                        {% endif %}

                        {# JSON-LDの出力 #}
                        {% block blog_post_json_ld %}
                        {% load i18n mezzanine_tags mezzanine_extentions_tags %}
                        {% conv_blog_post_to_json_ld blog=blog_post as json_ld %}
                        {% if json_ld %}
                        <script type="application/ld+json">
                        {% autoescape off %}
                        {{ json_ld }}
                        {% endautoescape %}
                        </script>
                        {% endif %}
                        {% endblock %}

                        {# ブログタイトルの出力箇所 #}
						{% block blog_post_list_post_title %}
						{% endblock %}

						{% block blog_post_list_post_metainfo %}
						{% endblock %}

						{% block blog_post_list_post_content %}
						{% editable blog_post.content %}
							{{ blog_post.content|richtext_filters|safe }}
						{% endeditable %}
						{% endblock %}
						
						{% block blog_post_list_post_links %}
							{% keywords_for blog_post as tags %}
						    {% if tags %}
								<div class="tags">
								  <i class="icon-tags"></i> {% trans "Tags" %}:
								    {% spaceless %}
								    {% for tag in tags %} 
								  	<a href="{% url "blog_post_list_tag" tag.slug %}" class="btn btn-xs btn-primary" data-ga-event-category="tag" data-ga-event-action="click" data-ga-event-label="{{ tag }}">{{ tag }}</a>
									{% endfor %}
								    {% endspaceless %}
								</div>
							{% endif %}
							{% block blog_post_detail_comments %}
								{% if blog_post.allow_comments %}
									{% comments_for blog_post %}
								{% endif %}
							{% endblock %}
						{% endblock %}
					</div>
                    
                </div>
                
                {% include "blog/includes/google_adsense_blog_bottom.html" %}
				<div class="blog-item">
                    {% include "blog/includes/filter_panel_blog_detail_bottom.html" %}
                </div>
                
                {% block blog_post_previous_next %}
                <div class="blog-item">
                    <ul class="pager">
                    {% with blog_post.get_previous_by_publish_date as previous %}
                    {% if previous %}
                    <li class="previous">
                        <a href="{{ previous.get_absolute_url }}" data-ga-event-category="blog_post" data-ga-event-action="click" data-ga-event-label="{{ previous.get_absolute_url }}">&lt; {{ previous|truncatechars:25 }}</a>
                    </li>
                    {% endif %}
                    {% endwith %}
                    {% with blog_post.get_next_by_publish_date as next %}
                    {% if next %}
                    <li class="next">
                        <a href="{{ next.get_absolute_url }}" data-ga-event-category="blog_post" data-ga-event-action="click" data-ga-event-label="{{ previous.get_absolute_url }}">{{ next|truncatechars:25 }} &gt;</a>
                    </li>
                    {% endif %}
                    {% endwith %}
                    </ul>
                    {% endblock %}                  
                </div>
                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{# ----------------------------------------------------------------------------------#}
{# MAINBLOCK END#}
{# ------#}
{% block blog_post_detail_rating %}
<div class="panel panel-default rating">
    <div class="panel-body">
    {% rating_for blog_post %}
    </div>
</div>
{% endblock %}

{% block blog_post_detail_sharebuttons %}
{% set_short_url_for blog_post %}
<a class="btn btn-sm share-twitter" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn btn-sm share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}
