{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block extra_head %}
    {% include "blog/includes/google_adsense_script.html" %}
{% endblock %}

{% block main %}{{ block.super }}
    <section class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% include "blog/includes/google_adsense.html" %}
                {% editable page.richtextpage.content %}
                    {{ page.richtextpage.content|richtext_filters|safe }}
                {% endeditable %}
                {% include "blog/includes/google_adsense.html" %}
            </div>
        </div>
    </section>
{% endblock %}
