<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles compress critical sekizai_tags %}
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Kem">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}" />
        <link rel="amphtml" href="{{ request.get_full_path }}">
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        {% block extra_ogp %}{% endblock %}
    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
    {% critical %}
    {% compress css %}
        {% if settings.CLEAN_BLOG_USE_BASE_CSS %}
            <!-- Core CSS -->
            <link href="{% static "css/normalize.css" %}" rel="stylesheet">
            <link href="{% static "css/base.css" %}" rel="stylesheet">
        {% else %}
            <!-- Bootstrap Core CSS -->
            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "css/clean-blog.min.css" %}" rel="stylesheet">
            <!-- Custom Fonts -->
            <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">  
            <link href="{% static "css/fonts.css" %}" rel="stylesheet">            
        {% endif %}

        <!-- Code Hilite -->
        {% ifinstalled mezzanine_pagedown %}
        <link rel="stylesheet" href="{% static "css/codehilite.css" %}">
        {% endifinstalled %}        
        {% if LANGUAGE_BIDI %}
         <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
        <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
        {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}
    {% endcritical %}
    {% compress js %}
        <!-- jQuery -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}
        {% if settings.GOOGLE_TAG_MANAGER_ID and not request.user.is_staff %}
        {% block gtn_dataLayer %}{% endblock %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ settings.GOOGLE_TAG_MANAGER_ID }}');</script>
        <!-- End Google Tag Manager -->
        {% endif %}
        {% render_block "js" %}
        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
        <![endif]-->
        {% block extra_head %}{% endblock %}
    </head>
    <body id="{% block body_id %}body{% endblock %}">
        {% if settings.GOOGLE_TAG_MANAGER_ID and not request.user.is_staff %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GOOGLE_TAG_MANAGER_ID }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        <!-- Navigation -->
        <div class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/" data-ga-event-category="home" data--event-action="click">{{ settings.SITE_TITLE }}</a>{% endif %}
                    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% page_menu "pages/menus/dropdown.html" %}
                    {% search_form "all" %}
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('{% static "img/home-bg.jpg" %}')">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 site-heading">
                        <h1>
                        {% block heading-text %}
                            {% if page %}{{ page.meta_title }}{% endif %}
                        {% endblock %}
                        </h1>                            
                        {# サイトサブタイトル #}
                        {% block subheading-text %}
                        {% endblock %}
                </div>
            </div>
        </header>
        <!-- Main Content -->
        <div class="container">
            {% block left_panel %}    
            {% endblock %}
            {% block main %}    
            {% endblock %}
        </div>
        {% nevercache %}
        {% if messages %}
        <div class="container">
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
        </div>
        {% endif %}
        {% endnevercache %}
        {% page_menu "pages/menus/footer_sns_link.html" %}
{# footerのjavascriptリンク 圧縮なし #}
{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}
{% compress js %}
<!-- Custom Theme JavaScript -->
<script src="{% static "js/jqBootstrapValidation.js"%}" async defer></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}" async defer></script>
<script src="{% static "js/contact_me.js" %}" async defer></script>
<script src="{% static "js/clean-blog.min.js" %}" async defer></script>
{% endcompress %}
{% autoescape off %}
{% critical_async %}
{% endautoescape %}
</body>
</html>
