<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n static clean_blog_tags %}
{% ifinstalled critical %}
{% load critical %}
{% endifinstalled %}
{% load render_bundle from webpack_loader %}
<head>
    <meta charset="utf-8">
    <meta name="author" content="Kem">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#808080"/>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    {% if settings.DNS_PREFETCH_URLS %}
        {% for url in settings.DNS_PREFETCH_URLS %}
            <link rel="preconnect dns-prefetch" href="{{url}}" crossorigin="anonymous">
        {% endfor %}
    {% endif %}
    <link rel="preload" href="{% static "img/home-bg-800.jpg" %}" as="image" media="(max-width: 767px)">
    <link rel="preload" href="{% static "img/home-bg-1600.jpg" %}" as="image" media="(min-width: 768px)">
    <link rel="manifest" href="{% static "webpack_bundles/manifest.json" %}"/>
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}"/>
    {% if settings.USE_AMP %}
        <link rel="amphtml" href="{{ request.get_full_path |to_amp_url }}">
    {% else %}
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    {% block extra_ogp %}{% endblock %}
    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
    {% ifinstalled critical %}
        {% critical %}
            {% if settings.BUNDLE_CSS_SRI %}
                {% with 'integrity="'|add:settings.BUNDLE_CSS_SRI|add:'"' as attrs_str %}
                    {% render_bundle 'bundle' 'css' attrs=attrs_str %}
                {% endwith %}
            {% else %}
                {% render_bundle 'bundle' 'css' %}
            {% endif %}
        {% endcritical %}
    {% endifinstalled %}
    {% if request.user.is_staff %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    {% endif %}
    {% block extra_js %}{% endblock %}
{% if settings.GOOGLE_TAG_MANAGER_ID and not request.user.is_staff and settings.USE_GOOGLE_OPTIMIZE %}
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
})(window,document.documentElement,'async-hide','dataLayer',4000,{'{{ settings.GOOGLE_TAG_MANAGER_ID }}':true});
</script>    
{% endif %}
    {% if not request.user.is_staff %}
        {% if settings.PJAX_JS_SRI %}
            {% with 'async defer chatset="UTF-8" integrity="'|add:settings.PJAX_JS_SRI|add:'"' as attrs_str %}
                {% render_bundle 'pjax' 'js' attrs=attrs_str %}
            {% endwith %}
        {% else %}
            {% render_bundle 'pjax' 'js' attrs='async defer chatset="UTF-8"' %}
        {% endif %}
    {% endif %}
    {% if settings.GOOGLE_TAG_MANAGER_ID and not request.user.is_staff %}
        {% block gtn_dataLayer %}{% endblock %}
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '{{ settings.GOOGLE_TAG_MANAGER_ID }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}" {% if settings.HTML5SHIV_SRI %}integrity="{{ settings.HTML5SHIV_SRI }}" crossorigin="anonymous"{% endif %} ></script>
        <script src="{% static "js/respond.min.js" %}" {% if settings.RESPOND_MIN_SRI %}integrity="{{ settings.RESPOND_MIN_SRI }}" crossorigin="anonymous"{% endif %} ></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}body{% endblock %}">
{% if settings.GOOGLE_TAG_MANAGER_ID and not request.user.is_staff %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe title="Google Tag Manager"
                src="https://www.googletagmanager.com/ns.html?id={{ settings.GOOGLE_TAG_MANAGER_ID }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
<!-- Navigation -->
<div class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation" aria-label="Main navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if settings.SITE_TITLE %}
                <a class="navbar-brand" href="/" data-ga-event-category="home"
                   data--event-action="click">{{ settings.SITE_TITLE }}</a>
            {% endif %}
            {% if settings.SITE_TAGLINE %}
                <p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>
            {% endif %}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% page_menu "pages/menus/dropdown.html" %}
            {% search_form "all" %}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<style>
.header-bg {
    background-image: url('{% static "img/home-bg-1600.jpg" %}')
}
@media screen and (max-width: 767px) {
    .header-bg {
        background-image: url('{% static "img/home-bg-800.jpg" %}')
    }
}
</style>
<header class="intro-header header-bg" aria-label="Article header with title">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 site-heading">
            <h1>
                {% block heading-text %}
                    {% if page %}{{ page.meta_title }}{% endif %}
                {% endblock %}
            </h1>
            {# サイトサブタイトル #}
            {% block subheading-text %}
            {% endblock %}
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container" role="main">
    {% block left_panel %}
    {% endblock %}
    {% block main %}
    {% endblock %}
</div>
{% nevercache %}
    {% if messages %}
        <div class="container">
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endnevercache %}
{% page_menu "pages/menus/footer_sns_link.html" %}
{# footerのjavascriptリンク 圧縮なし #}
{% block footer_js %}
    {% include "includes/footer_scripts.html" %}
{% endblock %}
{% if settings.VENDOR_JS_SRI %}
    {% with 'async defer chatset="UTF-8" integrity="'|add:settings.VENDOR_JS_SRI|add:'"' as attrs_str %}
        {% render_bundle 'vendor' 'js' attrs=attrs_str %}
    {% endwith %}
{% else %}
    {% render_bundle 'vendor' 'js' attrs='async defer chatset="UTF-8"' %}
{% endif %}
{% if settings.BUNDLE_JS_SRI %}
    {% with 'async defer chatset="UTF-8" integrity="'|add:settings.BUNDLE_JS_SRI|add:'"' as attrs_str %}
        {% render_bundle 'bundle' 'js' attrs=attrs_str %}
    {% endwith %}
{% else %}
    {% render_bundle 'bundle' 'js' attrs='async defer chatset="UTF-8"' %}
{% endif %}
{% autoescape off %}
{% ifinstalled critical %}
    {% critical_async %}
{% endifinstalled %}
{% endautoescape %}
</body>
</html>
