{% load blog_tags keyword_tags mezzanine_tags clean_blog_tags i18n %}
{% block blog_post_detail_related_posts %}
    {% if blog_post.related_posts.all %}
    <div class="row">                                                                                                              
    <div class="col-md-12">
    <div id="related-posts">
    <h3>{% trans 'Related posts' %}</h3>
    <ul>
    {% for post in blog_post.related_posts.all %}
    <li><a href="{{ post.get_absolute_url }}" data-ga-event-category="related_post" data-ga-event-action="click" data-ga-event-label="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    </div>
    </div>
    </div>
    {% endif %}
{% endblock %}

{% block blog_post_detail_categories %}
    {% blog_categories as categories %}
    {% if categories %}
    <div class="row">                                                                                       
        <div class="col-md-12">
        <h3>{% trans "Categories" %}</h3>
        <ul class="list-unstyled">
        {% for category in categories %}
        <li><a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a> ({{ category.post_count }})</li>
        {% endfor %}
        </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block blog_recent_posts %}
    {% blog_recent_posts 5 as recent_posts %}
    {% if recent_posts %}
    <div class="row">
    <div class="col-md-12">                                                                                        
        <h3>{% trans "Recent Posts" %}</h3>
        <ul class="recent-posts">
        {% for recent_post in recent_posts %}
        <li>
            {% spaceless %}
            <a href="{{ recent_post.get_absolute_url }}" data-category="recent_post">
            {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 24 24 %}">
            {% endif %}
            {{ recent_post.title }}
            </a>
            {% endspaceless %}
        </li>
        {% endfor %}
        </ul>
    </div>
    </div>
    {% endif %}
{% endblock %}
