{% load mezzanine_tags %}
{% nevercache %}
{% if settings.CLEAN_BLOG_GOOGLE_ADS_CLIENT_ID and settings.CLEAN_BLOG_GOOGLE_ADS_SLOT_ID %}
    {% if request.geo_data is None or request.geo_data.country_code == "JP" %}
    <div class="blog-item">
        <!-- blog本文下の広告 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="{{ settings.CLEAN_BLOG_GOOGLE_ADS_CLIENT_ID }}"
             data-ad-slot="{{ settings.CLEAN_BLOG_GOOGLE_ADS_SLOT_ID }}"
             data-ad-format="auto"></ins>
        <hr>
    </div>
    {% endif %}
{% endif %}
{% endnevercache %}
