{% load mezzanine_tags %}
<div class="bottom20">
    <div id="share">
        {% set_short_url_for blog_post %}
        <ul class="center-block">
        <!-- Twitter -->
        <li class="share-twitter">
            <a href="http://twitter.com/home?status={{ blog_post.title }}%20{{ blog_post.short_url }}%20by%20" data-ga-event-category="sns" data-ga-event-action="click" data-ga-event-label="twitter" target="_blank">Twitter</a>
        </li>
        <!-- Facebook -->   
        <li class="share-facebook">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ blog_post.short_url|escape }}&src=sdkpreparse" data-ga-event-category="sns" data-ga-event-action="click" data-ga-event-label="facebook" target="_blank">Facebook</a>
        </li>
        <!-- はてなブックマーク -->
        <li class="share-hatena">
            <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ blog_post.short_url|urlencode }}&title={{ blog_post.title }}" data-ga-event-category="sns" data-ga-event-action="click" data-ga-event-label="hatena" target="_blank">はてブ</a>
        </li>
        </ul>
    </div>
</div>
