{% load mezzanine_tags %}
<div class="bottom20">
    <div id="share">
        {% set_short_url_for blog_post %}
        <ul class="center-block">
            <!-- Twitter -->
            <li class="share-twitter">
                <a href="https://twitter.com/intent/tweet?url={{ blog_post.short_url|urlencode }}&amp;text={{ blog_post.title|urlencode }}"
                   data-ga-event-category="sns" data-ga-event-action="click" data-ga-event-label="twitter"
                   target="_blank" rel="noopener noreferrer">Twitter</a>
            </li>
            <!-- Facebook -->
            <li class="share-facebook">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                   data-ga-event-category="sns" data-ga-event-action="click" data-ga-event-label="facebook"
                   target="_blank" rel="noopener noreferrer">Facebook</a>
            </li>
            <!-- はてなブックマーク -->
            <li class="share-hatena">
                <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ blog_post.short_url|urlencode }}&title={{ blog_post.title|urlencode }}"
                   data-ga-event-category="sns" data-ga-event-action="click" data-ga-event-label="hatena"
                   target="_blank" rel="noopener noreferrer">はてブ</a>
            </li>
        </ul>
    </div>
</div>
